pkg
/target/
*.db
**/*.sqlite
**/*.sqlite-*
*.sqb*
config.json
config.toml
container-data
/tags
/*.sql
**/*.rs.bk
.secret*
/cache
docker-compose.yml
qdrant_data
flake.nix
flake.lock
*.env
__pycache__/**
*.pyc
**/.diesel_lock
