server {
    listen 80;

    location / {
        root /usr/share/nginx/html;
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        proxy_pass http://${BACKEND_ADDR};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /files/ {
        proxy_pass http://${BACKEND_PUBLIC_ADDR};
        proxy_set_header Host $host;
    }

    location /thumbnails/ {
        proxy_pass http://${BACKEND_PUBLIC_ADDR};
        proxy_set_header Host $host;
    }
}
