:root {
    --background: var(--tg-theme-bg-color, #000000);
    --foreground: var(--tg-theme-button-color, #007F0E);
}

html,
body {
    background-color: var(--background);
    color: var(--foreground);
    scrollbar-color: var(--foreground) var(--background);
    font-family: system-ui, sans-serif;
}

.grid {
    display: grid;
    grid-auto-rows: 128px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
}

.sticker-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.set-thumbnail {
    flex: 1 1;
    overflow: hidden;
}

.set-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.set-grid {
    display: grid;
    grid-auto-rows: 128px;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
}

.set-name {
    display: flex;
    flex-direction: column;
    flex: 0 0;
}

.set-name * {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

a {
    color: var(--foreground);
    text-decoration: none;
}

.set-grid-item {
    display: flex;
    flex-direction: column;
}

.sticker-container {
    width: 100%;
    max-width: 1000px;
    /* TODO: also support smaller devices */
    margin: auto;
    margin-top: 16px;
    display: flex;
}

.big-sticker {
    object-fit: contain;
    height: 300px;
    width: 300px;
}

.sticker-information {
    padding: 8px;
}

.full-width {
    width: 100%;
}

.tag-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin: 8px;
}

.tag {
    outline: 2px solid var(--foreground);
    border-radius: 64px;
    padding: 4px 8px 4px 8px;
    font-size: .8em;
    display: flex;
    align-items: center;
}

.tag-counter {
    background-color: var(--foreground);
    color: var(--background);
    border-radius: 100px;
    height: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    margin-right: -2px;
    padding: 0em 0.3em;
}

input {
    margin-left: 4px;
    margin-right: 4px;
    background-color: var(--background);
    border-radius: 8px;
    border: 1px solid var(--foreground);
    color: var(--foreground);
    padding: 8px;
}

input:focus {
    outline: 3px solid var(--foreground);
}

.main-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    margin: auto;
    justify-content: center;
    min-height: 100vh;
}

.main-page .tag-container {
    justify-content: center;
}

.emoji {
    outline: 2px solid var(--foreground);
    border-radius: 8px;
    padding: 4px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.timeline {
    margin-left: 8px;
    margin-right: 8px;
}

.timeline-section {}

.timeline-section-header {
    display: flex;
    align-items: stretch;
}

.timeline-section-body {
    display: flex;
}

.timeline-dot {
    width: 8px;
    height: 8px;
    min-width: 8px;
    border-radius: 100%;
    background-color: var(--foreground);
    margin: 0 8px;
    align-self: center;
}

.timeline-bar {
    width: 2px;
    min-width: 2px;
    background-color: var(--foreground);
    margin: -20px 11px;
}

.timeline-content {
    flex-grow: 1;
}

.infinite-scroll-trigger {
    width: 1px;
    height: 0px;
    display: inline;
}

.timeline-dot {}

#loading {
    width: calc(100vw / cos(45deg));
    height: 14px;
    background: repeating-linear-gradient(-45deg, var(--foreground) 0 15vw, #0000 0 20vw) left/200% 100%;
    animation: l3 2s infinite cubic-bezier(0.71, 0.27, 0.36, 0.74);

    position: fixed;
    left: 0;
    /* width: 100%; */
    margin: 0;
    padding: 0;
    height: 8px;
    bottom: -9px;
    transition: bottom .3s ease-in-out;
}

.htmx-request #loading {
    bottom: 0;
}

@keyframes l3 {
    100% {
        background-position: right
    }
}