name: Admin UI Docker Image

on:
  push:
    branches: [ "master" ]
    paths:
      - admin-ui/**

jobs:
  admin_ui_docker_image:
    runs-on: ubuntu-24.04-arm
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push (inference)
        uses: docker/build-push-action@v5
        with:
          context: admin-ui
          platforms: linux/arm64
          push: true
          tags: ghcr.io/avoonix/fuzzle-admin-ui:latest
