name: Docker Image CI

on:
  push:
    branches: [ "master" ]

jobs:
  docker_aarch64:
    runs-on: ubuntu-24.04-arm
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push (aarch64)
        uses: docker/build-push-action@v5
        with:
          context: .
          build-args: RUST_TARGET=aarch64-unknown-linux-musl
          platforms: linux/arm64
          push: true
          tags: ghcr.io/avoonix/fuzzle-bot:latest-aarch64
  docker_amd64:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push (amd64)
        uses: docker/build-push-action@v5
        with:
          context: .
          build-args: RUST_TARGET=x86_64-unknown-linux-musl
          platforms: linux/amd64
          push: true
          tags: ghcr.io/avoonix/fuzzle-bot:latest
